.wrap
	%h1= pizza.name
	%p= pizza.price
	%p= pizza.description

	= link_to "Edit", edit_restaurant_pizza_path(pizza.restaurant, pizza)
	= link_to "Delete", [pizza.restaurant, pizza], method: :delete, data: {confirm: "Are you sure?"}