.wrap
	%h1 
		Restaurant name: #{@restaurant.name}

	%h3 
		Restaurant address: #{@restaurant.address}

	%h3
		Work Hours: from
		= @restaurant.open.strftime("%H : %M")
		till	 
		= @restaurant.close.strftime("%H : %M")
	%br

	%h2
		= @restaurant.pizzas.count
		Dishes in the menu
	%h4	
		- @pizzas.each do |pizza|

			%h2
				Dish name: #{pizza.name} 
			%p 
				Dish price: #{pizza.price}
			%p 
				Ingredients: #{pizza.description}
			
			= link_to "Edit", edit_restaurant_pizza_path(pizza.restaurant, pizza)
			= link_to "Delete", [pizza.restaurant, pizza], method: :delete, data: {confirm: "Are you sure?"}

	%h3 Add another dish:
	= render "pizzas/form"


	=link_to "Edit", edit_restaurant_path(@restaurant), class: "button"
	=link_to "Destroy", restaurant_path(@restaurant), method: :delete, data: { confirm: "Are you sure?"}, class: "button"
	=link_to "Home", root_path, class: "button"